<div fxLayout="column">
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>

        <mat-form-field color="primary">
            <input 
                type="text" 
                placeholder="Buscar" 
                aria-label="Heroe" 
                matInput
                [(ngModel)]="termino"
                [matAutocomplete]="auto" 
                (input)="buscando()"/>

            <mat-autocomplete   autoActiveFirstOption
                                #auto="matAutocomplete"
                                (optionSelected)="seleccion( $event )">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{heroe.superhero}}
                </mat-option>

                <mat-option value="" *ngIf="heroes.length === 0 && termino.trim().length > 0" >
                    No se encontro nada con el término {{ termino }}
                </mat-option>

            </mat-autocomplete>
        </mat-form-field>

    </div>
</div>



<div 
    *ngIf="heroeSeleccionado"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayout.xs="column"
    fxFlexOffset="20">

    <app-heroe-tarjeta class="containerS" [heroe]="heroeSeleccionado">

    </app-heroe-tarjeta>


</div>